*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --theme-color: #ff507f;
}
body{
    background-color: #e7e6e6;
}
.container{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.card{
    height: 450px;
    width: 350px;
    background: linear-gradient(
        to bottom,
        var(--theme-color) 110px,
        #ffffff 110px
    );
    border-radius: 20px;
    box-shadow: 20px 25px 15px rgba(50,50,50,0.1);
    padding: 60px 0;
}
.card *{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    letter-spacing: 0.5px;
    font-weight: 600;
}
img{
    display: block;
    width: 110px;
    height: 110px;
    position: relative;
    border-radius: 30%;
    margin: 0 auto;
    box-shadow: 0 0 0 5px #ffffff;
    object-fit: cover
}
.card h4{
    color: var(--theme-color);
    font-size: 16px;
    margin: 15px 0 5px 0;
}
.card h5{
    color: #454545;
    font-weight: 400;
    font-size: 14px;
}
.details{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.details h2{
    font-weight: 400;
}
.details span{
    color: var(--theme-color);
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.buttons button{
    width: 130px;
    padding: 8px 0;
    border-radius: 25px;
    border: 3px solid var(--theme-color);
}
.buttons button:first-child{
    background-color: var(--theme-color);
    color: #ffffff;
}

.buttons button:first-child:hover{
    background-color: transparent;
    color: var(--theme-color)
}

.buttons button:last-child{
    background-color: transparent;
    color: var(--theme-color);
}
.buttons button:last-child:hover{
    background-color: var(--theme-color);
    color: #ffffff;
}

.themes{
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(50,50,50,0.1);
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.themes button{
    height: 25px;
    width: 25px;
    border: 3px solid #dddddd;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}
.btn1{
    background-color: #499fd8;
}
.btn2{
    background-color: #ff507f;
}
.btn3{
    background-color: #16b983;
}
.btn4{
    background-color: #681b8a;
}
.btn5{
    background-color: #fcc647;
}